DATABASE_URL="postgresql://valhall:change-me@localhost:5433/valhall_penalty"

FRONTEND_URL=http://localhost:port

KEYCLOAK_URL=https://auth.example.se
KEYCLOAK_REALM=realm
KEYCLOAK_CLIENT_ID=realm-api-dev

MEMBER_GRPC_URL=localhost:50051
VIDEO_GRPC_URL=localhost:50052
