DATABASE_URL="postgresql://valhall:change-me@localhost:5434/valhall_member"

FRONTEND_URL=http://localhost:port

MEMBER_GRPC_URL=localhost:50051
VIDEO_GRPC_BIND_URL=0.0.0.0:50052

KEYCLOAK_URL=https://auth.example.se
KEYCLOAK_REALM=realm
KEYCLOAK_CLIENT_ID=realm-api-dev

GRPC_URL=0.0.0.0:50051
